<h1>Home#index</h1>
 <h1>hello world! </h1>
 <% if admin_signed_in? %> 
  <%= link_to "admin", home_admin_path %>
 <% end %>

 <% if user_signed_in? %> 
 <strong><%= current_user.username %></strong>.
 <span><%= link_to "profile",new_profile_path %></span>
<span><%= link_to 'パスワードを変更', edit_user_registration_path(@user) %></span>
 <% end %>

<p>Find me in app/views/home/index.html.erb</p>


